.new-house-info {
	margin-top: 70px;
}

.page-title {
	text-align: center;
}

.houses-con {
	margin-top: 30px;
}

.house-title h3 {
	text-align: center;
}

.house-facility-list li {
	float: left;
	width: 33%;
}

.btn-commit {
	width: 100%;
	margin: 30px auto 0;
	font-size: 20px;
}