.fr {
	float: right;
}

body {
	background: url("/static/images/Annotation 2020-03-30 233214.jpg") no-repeat center fixed;
	background-size: content;
}

nav {
	opacity: 0.8;
}

.nav-link {
	margin-right: 20px;
}


.login_form .form_input_con{
	width: 368px;
	height: 378px;
	background-color: #fff;
	border: 1px solid #c6c6c5;
	margin-top: 300px;
	margin-left: 800px;
	opacity: 0.8;
}


.form_title{
	width: 308px;
	height: 70px;
	border-bottom: 1px solid #e0e0e0;
	margin: 0 auto;
}

.form_title h1{
	float: left;
	height: 70px;
	font: bold 24px/70px 'Microsoft Yahei';
	color: #a8a8a8;
	margin-left: 125px;
}

.form_title a{
	float: left;
	width: 100px;
	height: 16px;
	font:16px/16px 'MIcrosoft Yahei';
	color: #5fb42a;
	text-indent: 25px;
	/*background: url(../images/icons02.png) 1px 1px no-repeat;*/
	margin: 33px 0 0 36px;
}

.form_input_con form{
	width: 308px;
	height: 221px;
	margin: 20px auto 0;
}

.form_input_con form .form_group{
	width: 308px;
	height: 68px;
}

.form_group .input_txt, .form_group .input_pwd{
	width: 306px;
	height: 38px;
	border: 1px solid #e0e0e0;
	outline: none;
	/*background: url(../images/icons02.png) 275px -42px no-repeat #f8f8f8;*/
	text-indent: 10px;
}

.form_group .input_pwd{
	background-position: 275px -93px;
}

.form_group .error{
	font:12px/28px 'Microsoft Yahei';
	color: #ff5400;
	display: none;
}

.form_group .input_check{
	margin: 6px 10px 0 0;
}

.form_group .find_pwd{
	color: #4b4b4b;
}

.form_group .find_pwd:hover{
	color: #f80;
}

.input_submit{
	width: 308px;
	height: 40px;
	background-color: #47aa34;
	border: 0px;
	font: 24px/40px 'Microsoft Yahei';
	color: #fff;
	cursor: pointer;
}