<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>发布房源</title>
	<script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="../bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../layui/layui.js"></script>
	<script type="text/javascript" src="../js/new-house.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/new-house.css">
	<link rel="stylesheet" type="text/css" href="../layui/css/layui.css">
	<link rel="stylesheet" type="text/css" href="../bootstrap-4.4.1-dist/css/bootstrap.min.css">
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a href="" class="navbar-brand">&nbsp;&nbsp;Yasuya</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">房源</a>
      </li>
<!--       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#">故事</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">注册</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">登录</a>
      </li>
    </ul>
  </div>
</nav>

<body>
    <div class="container new-house-info text-secondary">
     	<div class="house-top">
            <h3 class="page-title">发布房源</h3>
            <a class="nav-btn fl" href="/myhouse.html"><span><i class="fa fa-angle-left fa-2x"></i></span></a>
        </div>
        <div class="houses-con">
        <ul class="houses-list">
            <form id="form-house-info">
                <li>
                    <div class="house-title">
                        <h3>基本信息</h3>
                    </div>
                    <div class="house-content">
                        <div class="form-group">
                            <label for="house-title">房屋标题</label>
                            <input type="text" class="form-control" name="title" id="house-title" required>
                        </div>
                        <div class="form-group">
                            <label for="house-price">每晚价格</label>
                            <input type="number" class="form-control" name="price" id="house-price" required>
                        </div>
                        <div class="form-group">
                            <label for="area-id">所在省</label>
                            <select class="form-control" id="area-id" name="area_id" onchange="updateBuildingID()">
                                <script id="area-tmpl" type="text/html">
                                {{ each areas as area }}
                                <option value="{{area.area_id}}">{{area.name}}</option>
                                {{/each}}
                                </script>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="area-id">所在市</label>
                            <select class="form-control" id="area-id" name="area_id" onchange="updateBuildingID()">
                                <script id="area-tmpl" type="text/html">
                                {{ each areas as area }}
                                <option value="{{area.area_id}}">{{area.name}}</option>
                                {{/each}}
                                </script>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="area-id">所在城区</label>
                            <select class="form-control" id="area-id" name="area_id" onchange="updateBuildingID()">
                                <script id="area-tmpl" type="text/html">
                                {{ each areas as area }}
                                <option value="{{area.area_id}}">{{area.name}}</option>
                                {{/each}}
                                </script>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="building-id">商业区</label>
                            <select class="form-control" id="building-id" name="building_id">
                                <script id="building-tmpl" type="text/html">
                                {{ each buildings as building }}
                                <option value="{{building.building_id}}">{{building.name}}</option>
                                {{/each}}
                                </script>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="house-address">详细地址</label>
                            <textarea class="form-control" name="address" id="house-address" required></textarea>
                        </div> 
                    </div>
                </li>
                <li>
                    <div class="house-title">
                        <h3>详细信息</h3>
                    </div>
                    <div class="house-content">
                        <div class="form-group">
                            <label for="house-room-count">出租房间数目</label>
                            <input type="number" class="form-control" name="room_count" id="house-room-count" required>
                        </div>
                        <div class="form-group">
                            <label for="house-acreage">房屋面积</label>
                            <input type="number" class="form-control" name="acreage" id="house-acreage" required>
                        </div>
                        <div class="form-group">
                            <label for="house-unit">户型描述</label>
                            <input type="text" class="form-control" name="unit" id="house-unit" placeholder="如：三室两厅两卫" required>
                        </div>
                        <div class="form-group">
                            <label for="house-capacity">宜住人数</label>
                            <input type="number" class="form-control" name="capacity" id="house-capacity" required>
                        </div>
                        <div class="form-group">
                            <label for="house-beds">卧床配置</label>
                            <input type="text" class="form-control" name="beds" id="house-beds" placeholder="如：双人床:2x1.8x1张 1.5x2x2张" required>
                        </div> 
                        <div class="form-group">
                            <label for="house-min-days">最少入住天数</label>
                            <input type="number" class="form-control" name="min_days" id="house-min-days" required>
                        </div>
                        <div class="form-group">
                            <label for="house-max-days">最多入住天数</label>
                            <input type="number" class="form-control" name="max_days" id="house-max-days" placeholder="0表示无限制" required>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="house-title">
                        <h3>配套设施</h3>
                    </div>
                    <div class="house-content">
                        <ul class="house-facility-list clearfix">
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="1">无线网络
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="2">热水淋浴
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="3">空调
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="4">暖气
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="5">允许吸烟
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="6">饮水设备
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="7">牙具
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="8">香皂
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="9">拖鞋
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="10">手纸
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="11">毛巾
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="12">沐浴露、洗发露
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="13">冰箱
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="14">洗衣机
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="15">电梯
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="16">允许做饭
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="17">允许带宠物
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="18">允许聚会
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="19">门禁系统
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="20">停车位
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="21">有线网络
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="22">电视
                                     </label>
                                </div>
                            </li>
                            <li>
                                <div class="checkbox">
                                     <label>
                                          <input type="checkbox" name="facility" value="23">浴缸
                                     </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <input type="submit" class="btn btn-primary btn-commit" value="发布房源信息">
                <div class="error-msg text-center"><i class="fa fa-exclamation-circle"></i>请将全部信息填写完整后再提交</div>
            </form>

            <form id="form-house-image" action="/api/house/image" method="post" enctype="multipart/form-data">
                <input type="hidden" name="house_id" id="house-id" value="">
                <li>
                    <div class="house-title">
                        <h3>添加图片</h3>
                    </div>
                    <div class="house-content">
                        <div class="house-image-cons">
                        </div>
                        <div class="form-group">
                            <label for="house-image">选择图片</label>
                            <input type="file" accept="images/*" name="house_image" id="house-image">
                        </div>
                        <input type="submit" class="btn btn-primary" value="上传">
                    </div>
                </li>
            </form>
        </ul>
        </div>
        <div class="popup_con">
            <div class="popup">
                <p><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></p>
            </div>
            <div class="mask"></div>
        </div>
        <div class="footer">
            <!-- <p><span><i class="fa fa-copyright"></i></span>爱家租房&nbsp;&nbsp;享受家的温馨</p> -->
        </div> 
    </div>
</body>
</html>